services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: payments
    ports:
      - "3307:3306"
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - backend
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 20s

  localstack:
    image: localstack/localstack:latest
    environment:
      - SERVICES=sqs
      - DEBUG=1
      - AWS_DEFAULT_REGION=us-east-1
    ports:
      - "4566:4566"
    networks:
      - backend

  app:
    build: .
    depends_on:
      mysql:
        condition: service_healthy
      localstack:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: local
      AWS_REGION: us-east-1
    ports:
      - "8080:8080"
    networks:
      - backend

networks:
  backend:
    driver: bridge
