.container {
  max-width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

input, button, select {
  padding: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
}
